<table>
    <tbody>
        <tr>
            <th>
                勉強中
            </th>
            <td>
                <li>Django</li>
                <li>Python</li>
                <li>OCaml</li>
                <li>CSS</li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                趣味
            </th>
            <td>
                <li>読書</li>
                <li>アニメ鑑賞</li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                Blog
            </th>
            <td>
                <li><a href="https://eniehack.hatenablog.com">Blog</a></li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                Contact
            </th>
            <td>
                <li><a href="xmpp:eniehack@jabber.at">XMPP</a></li>
            </td>
        </tr>
    </tbody>
</table>