<table>
    <tbody>
        <tr>
            <th>
                勉強中
            </th>
            <td>
                <li>Django</li>
                <li>Python</li>
                <li>OCaml</li>
                <li>CSS</li>
                <li>Elm</li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                趣味
            </th>
            <td>
                <li>読書</li>
                <li>アニメ鑑賞</li>
                <li>ノベルゲーム</li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                Links
            </th>
            <td>
                <li><a href="https://eniehack.hatenablog.com">Blog</a></li>
                <li><a href="https://annict.jp/@eniehack">アニメ遍歴(Annict)</a></li>
                <li><a href="https://bookmeter.com/users/669310">読書メーター</a></li>
                <li><a href="http://amzn.asia/aEM3jJQ">Amazon 欲しいものリスト</a></li>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th>
                Contact
            </th>
            <td>
                <li><a href="xmpp:eniehack@jabber.at">XMPP</a></li>
            </td>
        </tr>
    </tbody>
</table>