@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

#content {
    //display: grid;
    //grid-template: 250px 50px 35px 1fr / 250px;
    //grid-row-gap: 10px;
    //grid-column-gap: 30px;
    /*grid-template-areas: 
        "avatar"
        "author"
        "description"
        "social"
        "table"; */
    margin: 10px auto;
    padding: 0;
    display: flex;
    //justify-content: space-between;
    align-items: stretch;
    flex-basis: 400px;
    flex-flow: wrap;
}

.introduction {
    display: flex;
    flex-flow: column wrap;
    order: 1;
    //flex-grow: 1;
}

.intro-table {
    display: flex;
    flex-flow: column wrap;
    order: 2;
    //flex-grow: 1.5;
}

.avatar {
    grid-area: avatar;
    margin: 10px;
    img {
        //border-radius: 20px;
        width: 250px;
        height: 250px;
    }
}

.about{
    margin: 10px;
    margin-top: 20px;
    .author {
        grid-area: author;
        text-align: start;
        h1 {
            font-size: 1.75em;
            margin: 0;
        }
    }
        
    .description {
        grid-area: description;
        text-align: start;
        h2 {
            font-size: 20px;
        font-weight: 200;
        margin: 0;
        }
    }
    
    .social {
        grid-area: social;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    
        ul {
            padding: 0px;
            margin: unset;
            display: flex;
            justify-content: left;
    
            li {
                margin: 5px;
                list-style-type: none;
                a {
                    color: #212121;
                }
            }
        }
    }
}

.table {
    grid-area: table;
    th {
        background: aliceblue;
    }
}

li {
    list-style-type: none;
}