div.copyright
  small Copyright &copy; 2020 eniehack. Assets and articles not otherwise specified are licensed under CC BY 4.0. Source code is licensed under by MPL-2.0. This site is made by Nanoc, Asciidoctor.
